<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceTemperatureSoap" />
                <binding name="WebService1Soap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:6329/WebServiceTemperature.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceTemperatureSoap"
                contract="ServiceReference1.WebServiceTemperatureSoap" name="WebServiceTemperatureSoap" />
            <endpoint address="http://localhost:7021/WebServiceTemperature.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebService1Soap"
                contract="ServiceReference2.WebService1Soap" name="WebService1Soap" />
        </client>
    </system.serviceModel>
</configuration>
